:root {
    --headerTextColor: #3E3E3E;
}

#header {
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    color: var(--headerTextColor);
    font-size: 5vw;
    align-items: center;
    justify-content: center;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

#arrowLeft {
    font-size: 3.8vw;
}

#pizzaIcon {
    padding: 0 0.5rem 0 2rem;
}