.text-link {
    color: inherit;
    text-decoration: inherit;
}

.orderMenuContainer {
    /* height: 15rem; */
    margin: 1rem;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}

/* Pour les mobiles et les phablet */
@media only screen and (max-width: 767px) {
    #menuContainer {
        flex-direction: column;
    }

    .orderMenuContainer {
        flex-basis: 100%;
    }
}

/* Pour les tablettes, les ordinateurs et les grands écrans */
@media only screen and (min-width: 768px) {
    .orderMenuContainer {
        flex-basis: 33%;
    }
}

.iconMenu {
    font-size: 4rem;
}

hr {
    border: 0.03rem dotted white;
    width: 85%;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
} 